<!DOCTYPE html>

<html lang="es">

    <head>
        <meta charset="utf-8">
        <!------------- TITULO DE LA PAGINA ---------------------->
        <title>Tarea Evaluativa DWEC03</title>
        <!---------llamada a css ------------->
        <link rel="stylesheet" href="../styles/estilos.css">
        <!--------------- llamada a fuentes de texto --------------->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&family=Quicksand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <!-------------LAMADA SCRIPTS y CARGA JQUERY --------------------->
        <script type="text/javascript" src="../control/js/jquery_3_7_2.js"></script>
        <script type="text/javascript" src="../control/js/scriptjq.js"></script>
    </head>

    <body>
        <!---------------EJERCICIO 1 - LOGIN -->
        <h1>Tres en raya</h1>

        <!-- Contenedor que alberga el formulario de introduccion de datos-->
        <section id="contAniadirSocio">
            <h2>Log in:</h2>
            <form id="login" >
                <label for="fnombre">Nombre de Usuario:</label>
                <input type="text" id="lognombre" name="usunombre" value="" placeholder="Usuario" class="bordes">
                <label for="fapellido">Contraseña:</label>
                <input type="text" id="logcontrasena" name="usucontrasena" value="" placeholder="Contraseña" class="bordes">
                <input type="button" id="butCompUsuario" value="ENTRAR" class="bordesysub"/>
            </form> 
        </section>
        <article id="usuincorrecto">
            
        </article>

     
        
    </body>


</html>